<h1 class="title">{{title}}</h1>
<form method="POST" action="/addteam">
    <label>Team Name
        <input name="teamName" placeholder="Team Name">
    </label>

    <button type="submit">Add</button>
</form>