<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>{{title}}</title>

  <link rel="stylesheet" type="text/css" media="screen" href="/css/concise.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
</head>

<body>
  <header container class="siteHeader">
    <div row>
      <h1 column=4 class="logo">UCIM</h1>

      <nav column=8 class="nav">
        <ul>
          <li><a href="players">Players</a></li>
          <li><a href="teams">Teams</a></li>
          <li><a href="games">Games</a></li>
          <li><a href="stats">Stats</a></li>
          <li><a href="reset">Reset</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main container>
    {{{body}}}
  </main>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</body>
</html>
