<h1 class="title">{{title}}</h1>
<form method="POST" action="/player/addPlayer">
    <label>First Name
        <input name="firstName" placeholder="First Name">
    </label>

    <label>Last Name
        <input name="lastName" placeholder="Last Name">
    </label>
    <label>Sex
        <select name="sex">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </label>

    <button type="submit">Add</button>
</form>