<h1 class="title">{{title}}</h1>
<form method="POST" action="/team/addTeam">
    <label>Team Name
        <input name="teamName" placeholder="Team Name">
    </label>

    <select name="section">
        <option value="Coed">Co-ed</option>
        <option value="Guys">Guys</option>
        <option value="Girls">Girls</option>
    </select>
    <button type="submit">Add</button>
</form>