<h1 class="title">{{title}}</h1>
<form method="POST" action="/addplayer">
    <label>First Name
        <input name="firstName" placeholder="First Name">
    </label>

    <label>Last Name
        <input name="lastName" placeholder="Last Name">
    </label>

    <button type="submit">Add</button>
</form>