<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>{{title}}</title>

  <link rel="stylesheet" type="text/css" media="screen" href="/components/concise/dist/concise.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
</head>

<body>
  <header container class="siteHeader">
    <div row>
      <h1 column=4 class="logo">UCIM</h1>

      <nav column=8 class="nav">
        <ul>
          <li><a href="/player">Players</a></li>
          <li><a href="/team">Teams</a></li>
          <li><a href="/game">Games</a></li>
          <li><a href="/stat">Stats</a></li>
          <li><a href="/reset">Reset</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main container>
    {{{body}}}
  </main>
  
  <script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/livereload-js/dist/livereload.js"></script>

</body>
</html>
